.footer_contanier {
  position: relative;
  width: 100vw;
  height: 40vh;
  background-color:#101010;
}

.footer_box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2px;
  color: white;
  background-color:#101010;
  height: 100%;
  box-sizing: border-box;
  padding: 3rem 15rem 1rem 15rem;
}

.icon_footer {
  color: white;
  width: 100%;
  height: 2.5rem;
  background-color:#101010;
  
}

.list_footer {
  color: white;
  background-color: #101010;
}

.icon_list{
    padding: 10px 2px;
    li{
        display: inline-block;
        margin: 0 10px;
      }
}

.service_code_footer {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    color: white;
    border: 1px solid white;
    background-color:black;
    font-weight: lighter;
    p{
        padding-top: 2px;
    }
}

.copyright_footer {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 1rem;
  background-color: black;
}
