.description_list {
  display: flex;
  flex-direction: row;
  div{
    .listItem {
      display: inline-block;
      width: 100%;
      padding: 4px;
      text-decoration: none;
      font-weight: lighter;
    }
  }
 
}
